{
  "apiKeyId": "some-long-string",
  "ibmAuthEndpoint": "https://iam.ng.bluemix.net/oidc/token",
  "serviceInstanceId": "crn:v1:bluemix:public:cloud-object-storage:global:a/ae5c212....",
  "bucket":"",
  "endpoint":"s3.us-east.cloud-object-storage.appdomain.cloud"
}
