<%- include('templates/header.ejs'); %>

<%- include('templates/nav.ejs', {page: 'env-variables'}); %>

<div class="blank-slate-pf container-pf-nav-pf-vertical">
	<h1>
		<span class="fa fa-terminal small"></span>
		Environment Variables
	</h1>

	<div class="row">
		<div class="col-md-6">
			<p>
				Using <a href="https://docs.openshift.com/container-platform/3.11/dev_guide/environment_variables.html" target="_blank">
					environment variables <span class="fa fa-external-link-alt small"></span>
				</a> is an easy way to change application behavior without requiring code changes. It allows
				different deployments of the same application to potentially behave differently based on the environment
				variables, and OpenShift makes it simple to set, view, and update environment variables for Deployments.
			</p>
			<p>
				OpenShift also automatically adds environment variables that reference the service hostname and port of
				Service objects deployed within the same project to enable simple intra-project communication between
				applications.
			</p>
			<p>
				The current set of environment variables are:
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<pre><%= locals.envVariables %></pre>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<p>
				You can change these values with the CLI or within web console. It usually takes a minute or two for the change to be reflected in the application.
			</p>
		</div>
	</div>
</div>

<%- include('templates/footer.ejs'); %>
