<%- include('templates/header.ejs'); %>

<%- include('templates/nav.ejs'); %>

<div class="blank-slate-pf container-pf-nav-pf-vertical">
    <div class="blank-slate-pf-icon">
        <span class="pficon pficon-error-circle-o"></span>
    </div>
    <h1>
        Error Encountered!
    </h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-left">
            <pre><%= locals.msg %></pre>
        </div>
    </div>
</div>

<%- include('templates/footer.ejs'); %>
