<%- include('templates/header.ejs'); %>

<%- include('templates/nav.ejs', {page: 'secrets'}); %>

<div class="blank-slate-pf container-pf-nav-pf-vertical">
	<div class="blank-slate-pf-icon">
		<span class="pficon pficon-unlocked"></span>
	</div>
	<h1>
		Secrets
	</h1>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>
				An <a href="https://docs.openshift.com/dedicated/dev_guide/secrets.html" target="_blank">
					OpenShift Secret <span class="fa fa-external-link-alt small"></span>
				</a> resource was created and mounted to a volume inside this container. The OpenShift Secret object
				definition is almost identical to a ConfigMap, with the only notable difference bring that the
				values of the secret are <em>base64</em> encoded. The application does not have to perform this
				conversion, the Secret is automatically decoded for the container application. There is a utility at
				the <a href="#base64-tool">bottom of this page</a> to help you manually perform the base64 conversions.
			</p>
			<p>
				The current, base64 encoded contents of this Secret are:
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-left">
			<pre><%= locals.secret %></pre>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>
				You can change this value with the CLI or within web console. It usually takes a minute or two for the change to be reflected in the application.
			</p>
		</div>
	</div>

	<div class="row">
		<hr>
		<div class="col-md-4 col-md-offset-4">
			<div class="form">
				<h5 id="base64-tool">Base64 Encoder/Decoder</h5>
				<label for="input" >Input</label>
				<input type="text" class="form-control" id="input" placeholder="a string value">
				<label for="result" >Result</label>
				<textarea readonly class="form-control" name="result" id="result" value=""></textarea>
				<p></p>
				<button class="btn btn-primary btn-sm" onclick="encode();">Encode</button> &nbsp;
				<button class="btn btn-primary btn-sm" onclick="decode();">Decode</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function encode() {
	var input = document.getElementById ('input'),
		result = document.getElementById('result');
	result.value = window.btoa(input.value);
}
function decode() {
	var input = document.getElementById ('input'),
		result = document.getElementById('result');
	result.value = window.atob(input.value);
}
</script>

<%- include('templates/footer.ejs'); %>
