<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/patternfly.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        // matchHeight the contents of each .card-pf and then the .card-pf itself
        $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

        // Initialize the vertical navigation
        $().setupVerticalNavigation(true);
    });
</script>

<% if (locals.excludeClosingTags === undefined || !excludeClosingTags) { %>
</body>
</html>
<% } %>