<html class="layout-pf layout-pf-fixed">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if (locals.refresh !== undefined && refresh > 0 ) { %>
        <meta http-equiv="refresh" content="<%= refresh %>;url=/home" />
    <% } %>

    <link rel="stylesheet" type="text/css" href="/css/patternfly-fa-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/patternfly.css">
    <link rel="stylesheet" type="text/css" href="/css/patternfly-additions.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">

    <title>OSToy</title>
</head>
<body>
